<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia ITSON</title>
    <link rel="stylesheet" href="resources/styles/styleForms.css">
    <link rel="icon" href="resources/imgs/academia-logo.png">
</head>
<body>
   <%- include('../partials/adminNav', { usuario }) %>
    <h1 class="fotos">FORMULARIO CREAR COORDINADORES</h1>
    <form action="/crearCoordinador" method="POST" enctype="multipart/form-data">
        <label for="categoria">Selecciona la Categoría:</label>
        <select name="categoria" id="categoria" required>
            <% categorias.forEach(categoria => { %>
                <option value="<%= categoria.id_categoria %>"> <%= categoria.nombre_categoria %> </option>
                <% }); %>
        </select>
        <label for="usuario">Selecciona el usuario asignado para este coordinador:</label>
        <select name="usuario" id="usuario" required>
            <% userCoordinador.forEach(user => { %>
                <option value="<%= user.id_usuario %>"> <%= user.usuario %> </option>
                <% }); %>
        </select>
        <label>Escriba el nombre completo:</label><br>
        <label for="nombre">Nombres:</label>
        <input type="text" name="nombre" placeholder="Ismael Eduardo" required>
        <label for="apellidoPaterno">Apellido Paterno:</label>
        <input type="text" name="apellidoPaterno" placeholder="Agüero" required>
        <label for="apellidoMaterno">Apellido Materno:</label>
        <input type="text" name="apellidoMaterno" placeholder="Madero" required>
        <label for="fotoCoordinador">Subir Foto del Coordinador:</label>
        <input type="file" name="fotoCoordinador" id="fotoCoordinador" accept="image/*" required>
        <input type="submit" value="Subir">
    </form>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert !="undefined" ) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %> ,
                timer: <%= timer %>
            }).then(() => {
                    window.location = '/<%= ruta %>'
                })
        </script>

        <% } %>
</body>
</html>