<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia ITSON</title>
    <link rel="stylesheet" href="resources/styles/styleForms.css">
    <link rel="icon" href="resources/imgs/academia-logo.png">


</head>

<body>
    <section class="content01">
        <div class="regreso">
            <a href="logout">Cerrar Sesion</a>
        </div>
        <div class="perfil">
            <% if (usuario) { %>
                <p> User: <%= usuario.usuario %>
                </p>
                <% } %>
        </div>
    </section>
    <nav>
        <img src="resources/imgs/potros.png" alt="POTROS ITSON">
        <div>
            <form action="">
                <a href="">AGREGAR</a>
            <select name="agregar" id="agregar">
                <optgroup label="Categorias">
                    <option value="categoria"><a href="">CREAR CATEGORIAS</a></option>
                    <option value="equipo"><a href="">CREAR EQUIPOS</a></option>
                    <option value="usuario"><a href="">CREAR USUARIO PARA COORDINADOR</a></option>
                    <option value="coordinador"><a href="">CREAR COORDINADOR</a></option>
                    <option value="entrenadores"><a href="">CREAR ENTRENADORES</a></option>
                </optgroup>
                <optgroup label="Jugadores">
                    <option value="jugador"><a href="">CREAR JUGADOR</a></option>
                    <option value="jugadorEquipo"><a href="">AGREGAR JUGADOR EQUIPO</a></option>
                    <option value="jugadorCategoria"><a href="">AGREGAR JUGADOR CATEGORIA</a></option>
                    <option value="jugadorUsuario"><a href="">CREAR USUARIO JUGADOR</a></option>
                    <option value="jugadorPago"><a href="">AGREGAR PAGO SEMANAL</a></option>
                </optgroup>
            </select>
        </form>
            <script>
                function redirigir() {
                    var select = document.getElementById("agregar");
                    var url = select.value;
                    if (url) { // Verifica si se ha seleccionado una opción
                        window.location.href = url; // Redirige a la URL seleccionada
                    }
                }
            </script>
        </div>
        <div>
            <form action="">
                <a href="">ELIMINAR</a>
            <select name="eliminar" id="eliminar">
                <optgroup label="Categorias">
                    <option value="categoria"><a href="">ELIMINAR CATEGORIA</a></option>
                    <option value="equipo"><a href="">ELIMINAR EQUIPO</a></option>
                    <option value="usuario"><a href="">ELIMINAR USUARIO PARA COORDINADOR</a></option>
                    <option value="coordinador"><a href="">ELIMINAR COORDINADOR</a></option>
                    <option value="entrenadores"><a href="">ELIMINAR ENTRENADOR</a></option>
                </optgroup>
                <optgroup label="Jugadores">
                    <option value="jugador"><a href="">ELIMINAR JUGADOR</a></option>
                    <option value="jugadorEquipo"><a href="">ELIMINAR JUGADOR DE EQUIPO</a></option>
                    <option value="jugadorCategoria"><a href="">ELIMINAR CATEGORIA DE JUGADOR</a></option>
                    <option value="jugadorUsuario"><a href="">ELIMINAR USUARIO JUGADOR</a></option>
                    <option value="jugadorPago"><a href="">ELIMINAR PAGO SEMANAL</a></option>
                </optgroup>
            </select>
        </form>
            <script>
                function redirigir() {
                    var select = document.getElementById("eliminar");
                    var url = select.value;
                    if (url) { // Verifica si se ha seleccionado una opción
                        window.location.href = url; // Redirige a la URL seleccionada
                    }
                }
            </script>
        </div>
        <div>
            <form action="">
                <a href="">ACTUALIZAR</a>
            <select name="actualizar" id="actualizar">
                <optgroup label="Categorias">
                    <option value="categoria"><a href="">ACTUALIZAR DATOS DE CATEGORIA</a></option>
                    <option value="equipo"><a href="">ACTUALIZAR DATOS DE EQUIPO</a></option>
                    <option value="usuario"><a href="">ACTUALIZAR USUARIO PARA COORDINADOR</a></option>
                    <option value="coordinador"><a href="">ACTUALIZAR DATOS COORDINADOR</a></option>
                    <option value="entrenadores"><a href="">ACTUALIZAR DATOS ENTRENADOR</a></option>
                </optgroup>
                <optgroup label="Jugadores">
                    <option value="jugador"><a href="">ACTUALIZAR DATOS JUGADOR</a></option>
                    <option value="jugadorEquipo"><a href="">ACTUALIZAR EQUIPO DEL JUGADOR</a></option>
                    <option value="jugadorCategoria"><a href="">ACTUALIZAR CATEGORIA DEL JUGADOR</a></option>
                    <option value="jugadorUsuario"><a href="">ACTUALIZAR USUARIO DEL JUGADOR</a></option>
                    <option value="jugadorPago"><a href="">ACTUALIZAR PAGO SEMANAL</a></option>
                </optgroup>
            </select>
        </form>
            <script>
                function redirigir() {
                    var select = document.getElementById("actualizar");
                    var url = select.value;
                    if (url) { // Verifica si se ha seleccionado una opción
                        window.location.href = url; // Redirige a la URL seleccionada
                    }
                }
            </script>
        </div>
        <div>
            <form>
                <a>FOTOS</a>
                <select name="fotos" id="fotos" onchange="redirigir()">
                    <optgroup label="Categorias">
                        <option value="categoria"><a href="/formAdmin">SUBIR FOTO CATEGORIA</a></option>
                        <option value="equipo"><a href="">SUBIR FOTO EQUIPO</a></option>
                        <option value="coordinador"><a href="">SUBIR FOTO COORDINADOR</a></option>
                        <option value="entrenadores"><a href="">SUBIR FOTO ENTRENADORES</a></option>
                    </optgroup>
                    <optgroup label="Jugadores">
                        <option value="jugador"><a href="">SUBIR FOTO JUGADOR</a></option>
                    </optgroup>
                </select>
            </form>
            <script>
                function redirigir() {
                    var select = document.getElementById("fotos");
                    var url = select.value;
                    if (url) { // Verifica si se ha seleccionado una opción
                        window.location.href = url; // Redirige a la URL seleccionada
                    }
                }
            </script>
        </div>
        <div>
            <a href="/AdminContra">CAMBIAR CONSTRASEÑA</a>
        </div>

        <img src="resources/imgs/logo.png" alt="Logo">
    </nav>
    <script>
        // Agregar el evento a todos los enlaces con clase 'link'
        document.querySelectorAll('.link').forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault(); // Evita que el link se cargue inmediatamente
                const url = this.href; // Captura la URL del enlace

                // Añadir la clase fade-out para iniciar la animación de desvanecimiento
                document.body.classList.add('fade-out');

                // Esperar a que la animación de desvanecimiento termine (0.5s) y luego redirigir
                setTimeout(function () {
                    window.location.href = url; // Cambia a la nueva URL después de la animación
                }, 200); // Espera 500 ms para redirigir
            });
        });
    </script>
    <script src="resources/js/Animaciones.js"></script>
    <section class="content02">_</section>
    <h1 class="fotos">FORMULARIO PARA SUBIR FOTOS</h1>

    <form action="/formAdmin" method="POST" enctype="multipart/form-data">
        <label for="categoria">Selecciona la Categoría:</label>
        <select name="categoria" id="categoria" required>
            <option value="3-4 Años">3-4 Años</option>
            <option value="5-6 Años">5-6 Años</option>
            <option value="7-8 Años">7-8 Años</option>
            <option value="9-10 Años">9-10 Años</option>
            <option value="11-12 Años">11-12 Años</option>
            <option value="13-14 Años">13-14 Años</option>
            <option value="15-16 Años">15-16 Años</option>
        </select>


        <label for="fotoCategoria">Subir Foto de la Categoría:</label>
        <input type="file" name="fotoCategoria" id="fotoCategoria" accept="image/*" required>
        <input type="submit" value="Subir Fotos">
    </form>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert !="undefined" ) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %> ,
                timer: <%= timer %>
            }).then(() => {
                    window.location = '/<%= ruta %>'
                })
        </script>

        <% } %>
</body>

</html>