<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="resources/styles/styleCategorias.css">
</head>
<body>

    <%- include('partials/navbar') %>
    <%- include('partials/footer') %>
    <section class="categorias-section">
  <h1 class="titulo">Categorías</h1>

  <div class="categorias-grid">
    <% categorias.forEach(categoria => { %>
      <div class="categoria-card">
        <img src="/<%= categoria.url_foto %>" alt="Foto categoría" class="categoria-img">
        <div class="categoria-info">
          <h2><%= categoria.nombre_categoria %></h2>
          <a href="/categorias/<%= categoria.id_categoria %>/secciones" class="boton-ir">Ver jugadores</a>
        </div>
      </div>
    <% }); %>
  </div>
</section>
    
</body>
</html>