<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia ITSON</title>
    <link rel="stylesheet" href="resources/styles/styleMain.css">
    <link rel="stylesheet" href="resources/styles/styleLoginAdmin.css">
    <link rel="icon" href="resources/imgs/academia-logo.png">
</head>
<body>

    
    <section class="content03">
        <div class="card">
            <p>INICIO DE SESION</p>
        </div>
    </section>

    <section class="login-body">
        <div class="login-container">
            <form action="/login" method="POST">
              <input type="text" name= "user" id="user" placeholder="Usuario" >
              <input type="password" name="pass" id="pass" placeholder="Contraseña" >
                <input type="submit" value="Iniciar Sesion">
            </form>
          </div>
    </section>
    <div class="regresar">
        <a href="/"><img src="resources/imgs/flecha.png" alt="Flecha de regreso"></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %> ,
                timer: <%= timer %>
            }).then(()=>{
                window.location = '/<%= ruta %>'
            })
        </script>

        <% } %>
</body>
</html>