<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia ITSON</title>
    <link rel="stylesheet" href="resources/styles/styleForms.css">
    <link rel="icon" href="resources/imgs/academia-logo.png">
</head>
<body>
    <%- include('../partials/adminNav', { usuario }) %>
    <h1 class="fotos">FORMULARIO ACTUALIZAR DATOS DE USUARIO COORDINADOR</h1>
    <form action="/actualizaUsuarioCoordinador" method="GET">
        <label for="usuario">Seleccione el usuario:</label>
        <select name="usuario">
            <% userCoordinador.forEach(user => { %>
                <option value="<%= user.id_usuario %>"> <%= user.usuario %> </option>
                <% }); %>
        </select>
        <input type="submit" value="Actualizar">
    </form>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<% if (typeof alert !== 'undefined' && alert) { %>
<script>
  Swal.fire({
    title: '<%= alertTitle %>',
    text: '<%= alertMessage %>',
    icon: '<%= alertIcon %>',
    showConfirmButton: <%= showConfirmButton %>,
    timer: <%= timer %>
  }).then(()=>{ window.location='/<%= ruta %>'; });
</script>
<% } %>

</body>
</html>