<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/resources/styles/styleEquiposCategorias.css">

</head>

<body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/footer') %>
    <section class="categorias-section">

        <section class="equipos-section">
            <h1 class="titulo">Equipos de <%= categoriaNombre %>
            </h1>

            <form action="/categoria/<%= categoriaId %>/buscar" method="GET" class="busqueda-form">
                <input list="sugerencias" name="nombre" placeholder="Buscar jugador por nombre..."
                    class="busqueda-input" required>
                <datalist id="sugerencias"></datalist>
                <button type="submit" class="busqueda-btn">Buscar</button>
            </form>

            <script>
                const inputNombre = document.querySelector('input[name="nombre"]');
                inputNombre.addEventListener('input', () => {
                    fetch(`/api/sugerencias-jugadores?term=${inputNombre.value}`)
                        .then(res => res.json())
                        .then(data => {
                            const datalist = document.getElementById('sugerencias');
                            datalist.innerHTML = '';
                            data.forEach(j => {
                                const option = document.createElement('option');
                                option.value = j.nombre_completo;
                                datalist.appendChild(option);
                            });
                        });
                });
            </script>



            <div class="equipos-grid">
                <% equipos.forEach(equipo=> { %>
                    <div class="equipo-card">
                        <img src="/<%= equipo.url_foto %>" alt="Foto equipo" class="equipo-img">
                        <div class="equipo-info">
                            <h2>
                                <%= equipo.nombre %>
                            </h2>
                            <div class="botones">
                                <a href="/equipos/<%= equipo.id_equipo %>/estadisticas" class="btn">Estadísticas del
                                    equipo</a>
                                <a href="/equipos/<%= equipo.id_equipo %>/jugadores"
                                    class="btn btn-secundario">Jugadores del equipo</a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </section>



</body>

</html>