<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Academia ITSON</title>
        <link rel="stylesheet" href="resources/styles/styleMain.css">
        <link rel="stylesheet" href="resources/styles/stylePago.css">
        <link rel="icon" href="resources/imgs/academia-logo.png">
    </head>
<body>
    <section class="content03">
        
        <div class="cardContra">
            <p>ELIMINAR COORDINADOR</p>
        </div>
    </section>

    <section class="login-body">
        <div class="login-container">
            <form action="/eliminarCoordinador/<%= coordinador.id_coordinador %>" method="POST" enctype="multipart/form-data">
                <label>Nombre del Coordinador:</label><br>
                <label for="nombre">Nombres:</label>
                <input type="text" name="nombre" value="<%= coordinador.nombres %>" readonly>
                <br>
                
                <label for="apellidoPaterno">Apellido Paterno:</label>
                <input type="text" name="apellidoPaterno" value="<%= coordinador.apellido_paterno %>" readonly>
                <br>
            
                <label for="apellidoMaterno">Apellido Materno:</label>
                <input type="text" name="apellidoMaterno" value="<%= coordinador.apellido_materno %>" readonly>
                <br>
            
                <label for="categoria">Categoría Asignada:</label>
                <input type="text" value="<%= coordinador.id_categoria %>" readonly>
                <br>
                
                <label for="usuario">Usuario Asignado:</label>
                <input type="text" value="<%= coordinador.id_usuario %>" readonly>
                <br>
            
                <label>Foto del Coordinador:</label><br>
                <img src="<%= coordinador.url_foto %>" alt="Foto del Coordinador" style="width: 150px; height: 150px;">
                <br>
            
                <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este coordinador?');">
                    Eliminar Coordinador
                </button>
            </form>
            
          </div>
    </section>
    <div class="regresar">
    <a href="/formEliminarCoordinador"><img src="resources/imgs/flecha.png" alt="Flecha de regreso"></a>
</div>
    
</body>
</html>